@import "tailwindcss";

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(
    #101020,
    #101010
  );
}

::-webkit-scrollbar-thumb {
  background: oklch(35.9% 0.144 278.697);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: oklch(25.7% 0.09 281.288);
}

::-webkit-scrollbar-button {
  background: oklch(25.7% 0.09 281.288);
  height: 10px;
}